<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Constr"
         connectionString="Data Source=ndamssql\sqlilearn;Initial Catalog=Training_12Dec18_Bangalore;User ID=sqluser;Password=sqluser"/>
  </connectionStrings>
</configuration>